extends layout

block content
	h1= title
	form(name="Race-Setup", method="post")
		div.input
			span.label Start Time:
			select(id="start_time_hour", name="start_time_hour")
				-for(var hour = 0;hour<24;hour++){
				option(value=hour selected=(start_time_hour == hour)) #{('0'+hour).slice(-2)}
				-}
			span.label :
			select(id="start_time_min", name="start_time_min")
				-for(var min = 0;min<60;min++){
				option(value=min selected=(start_time_min == min)) #{('0'+min).slice(-2)}
				-}

		div.input
			span.label End Time:
			select(id="end_time_hour", name="end_time_hour")
				-for(var hour = 0;hour<24;hour++){
				option(value=hour selected=(end_time_hour == hour)) #{('0'+hour).slice(-2)}
				-}
			span.label :
			select(id="end_time_min", name="end_time_min")
				-for(var min = 0;min<60;min++){
				option(value=min selected=(end_time_min == min)) #{('0'+min).slice(-2)}
				-}

		div.actions
			input(type="submit", value="Save")



