extends layout

block content
  h1= title
  p Welcome to #{title}

  //- p Race start time: #{start_time.getHours()}:#{start_time.getMinutes()}
  //- p Race end time: #{end_time.getHours()}:#{end_time.getMinutes()}
  p #{ start_time }
